/*
	Using a 10% space on both sides of the page and 5% padding on top and bottom
*/

/**************************************************************
	First some generic styles, along with the grid system
 **************************************************************/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	position: relative;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background: #eee;
}

[class*='col-'] {
	margin: 0;
	float: left;
	height: 100%;
}

/* Clearfix hack */
.row:after, .row2:after {
	content: "";
	display: table;
	clear: both;
}

.col-1-3	{ width: 33.33%;}
.col-2-3	{ width: 66.67%;}
.col-3-3	{ width: 100%; 	}

.col-1-8 	{ width: 12.5%; }
.col-2-8	{ width: 25%; 	}
.col-3-8	{ width: 37.5%; }
.col-4-8	{ width: 50%; 	}
.col-5-8	{ width: 62.5%; }
.col-6-8	{ width: 75%; 	}
.col-7-8	{ width: 87.5%; }
.col-8-8	{ width: 100%; 	}

.row, .row2 {
	display: block;
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
}

.row2 {
	height: 140px;
}

.hidden { display: none; }

/**************************************************************
						 Main Styles Start 
 **************************************************************/

#calculator {
	background: #555;
	box-shadow: 0 0px 2px black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

@media (max-width: 800px) {
	#calculator {
		width: 100%;
	}
}

button {
	border-radius: 0;
	border: 0;
	background: #666;
	color: white;
	font-size: 17pt;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;

	font-weight: 100;
}
button:hover, button:active, button:focus {
	background: #454545;
}

/************************************************************** 
		Styles related to expression textbox and result div 
 **************************************************************/
#expression, #result {
	text-align: right;
	line-height: 70px;
	padding-right: 20px;
	font-size: 45pt;
	background: white;
	border: 0;
}
#expression {
	z-index: 103;
	color: #444;
	border: 1px solid #444;
	border-bottom: none;
}
#result {
	z-index: 102;
	font-size: 28pt;
	color: #666;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	box-shadow: 0 5px 4px -3px black;
	cursor: pointer;
}

/**************************************************************
							The panes 
**************************************************************/
#main_pane, #ops_pane, #scientific_pane, #const_pane {
	float: left;
	box-shadow: 2px 0 3px -1px #000;
}
#main_pane { width: 40%; z-index: 101; }
#ops_pane { width: 10%; z-index: 100; }
#scientific_pane, #const_pane { width: 50%; z-index: 99; position: absolute; right: 0; }
/* For the fading effect to work for the first time */
#const_pane { opacity: 0; }

#pane_puller { display: none; }		/* Used only for small screens */

/* Main pane buttons */
#main_pane button {
	background: #444;
	font-size: 24pt;
}
#main_pane button:hover, #main_pane button:active {
	background: #333;
}

/**************************************************************
						Ops pane buttons
 **************************************************************/
#ops_pane button {
	display: block;
	width: 100%;
	height: 56px;
	/* 
		5 such buttons must be equivalent to 4 normal buttons. One normal button's height = row height = 70px 
		So, 5x = 70*4 => x = 56
	*/
	background: #555;
}

#ops_pane button:hover, #ops_pane button:active {
	background: #444;
}

/**************************************************************
					 Constants Pane buttons
 **************************************************************/
#close_const_pane { 
	position: absolute; 
	z-index: 1000000; 
	right: 0;
	border-radius: 0 0 0 1000px;
	background: darkgreen;
	color: white;
	padding: 10px 10px 15px 15px;
	font-family: "sans-serif";
	cursor: pointer;
	box-shadow: 0 0 2px #000;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
}

#close_const_pane:hover, #close_const_pane:active {
	background: #333;
	box-shadow: 0 0 3px #000;
}

#const_pane .const_help {
	display: block;
	font-size: 8pt;
}

#const_pane button {
	background: green;
}

#const_pane button:hover, #const_pane button:active {
	background: darkgreen;
}

@media (max-width: 600px) {
	#main_pane {
		width: 70%;
	}
	#ops_pane {
		width: 20%;
	}
	#scientific_pane, #const_pane {
		float: left;
		width: 90%;
		z-index: 100;
		box-shadow: 0 -3px 3px 0px #000;
	}
	#const_pane {
		z-index: 101;
	}
	#pane_puller {
		display: block;
		background: green;
		width: 10%;
		height: 280px;
		float: left;
		cursor: pointer;
	}
}

@media (max-height: 490px) {
	.row {
		height: 60px;
	}
	.row2 {
		height: 120px;
	}
	#ops_pane button {
		height: 48px;
	}
	#pane_puller {
		height: 240px;
	}
}