	@font-face {
	  font-family: 'Meslo LG';
	  font-style: normal;
	  src: local('Meslo LG S'), url(../assets/MesloLGS-Regular.ttf) format('truetype');
	}
    @import url('https://fonts.googleapis.com/css?family=Ubuntu');
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;

		position: relative;
	}

	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	body {
		text-align: center;
        background: #252525;
		font-family: "Menlo", "Meslo LG", monospace;
	}
	header {
		position: fixed;
		left: 0;
		right: 0;
		/*background: #01579B;
        /*background: #252525;
		box-shadow: 0 2px 5px #000, 0 0 1px #000 inset;;*/
		z-index: 5;
		color: white;
		font-size: 20pt;
		font-weight: bold;
		padding: 10px 0 15px 0;
        padding-top: 25px;
        background: rgba(37,37,37,0.97);
        font-family: Ubuntu;
	}
    #snowman {
        position: absolute;
        left: -45px;
        top: -7px;
        width: 40px;
        height: 40px;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
		-webkit-transition: 0.1s all;
		-moz-transition: 0.1s all;
		-o-transition: 0.1s all;
		-ms-transition: 0.1s all;
		transition: 0.1s all;
        background-image: url(../assets/snowman.png);
        background-position: fixed center;
        background-size: 40px 40px;
        display: inline-block;
    }
    header:hover #snowman {
        -webkit-filter: none;
        filter: none;
        background-image: url(../assets/snowman2.png);
        background-position: fixed center; /*no-repeat fixed;*/
        background-size: 40px 40px;
    }
    header #title {
        display: inline;
        font-size: 18pt;
        color: #ccc;
        position: relative;
    }
	#navbar {
        margin-top: 10px;
	}
    #navbar2 {
        /* float: right; */
    }
	#navbar ul, #navbar2 ul {
		padding: 0;
        margin: 0;
	}
	#navbar ul li, #navbar2 ul li {
		list-style: none;
		text-align: left;
        display: inline;
	}
    #navbar2 a {
        color: orange;
    }
	#navbar a {
		text-decoration: none;
		padding: 5px;
		color: white;
		border-radius: 0 5px 5px 0;
		/*background: rgba(255,255,255,0.8);*/
		color: #01579b;

		-webkit-transition: 0.1s all;
		-moz-transition: 0.1s all;
		-o-transition: 0.1s all;
		-ms-transition: 0.1s all;
		transition: 0.1s all;

		box-shadow: 0px 0 2px black;
		/*background: white;*/

        font-size: 15px;
        font-weight: normal;
        padding: 8px;
        color: lightblue;
	}
	#navbar a:not(.selected):hover, #navbar a:not(.selected):active {
		background: #03a9f4;
		border-right: none;
		border-radius: 0 5px 5px 0;
/*		padding: 5px 5px 5px 5px;*/
		font-weight: normal;
		width: 210px;
	}
	#navbar a.selected, #navbar a:hover, #navbar a:active {
		border-radius: 0 10px 10px 0;
		width: 220px;
		background: #01579B;
		color: white;
		box-shadow: 0px 1px 2px #000;
/*		padding-left: 25px;
/*		padding: 5px 5px 5px 5px;;*/
		font-weight: bold;
	}
	#main {
		margin: 0 7%;
		/* position: absolute; */
		top: 15px;;
		bottom: 0;
	}
	#dp {
		display: block;
		background: url(../assets/dp3.jpg); /*55% 0 / 356px 200px;*/
        /*background-size: 220px 220px;*/
		background-size: cover;
		height: 180px;
		width: 180px;
	}
	#dp_container {
		margin: 15px;
		display: inline-block;
        float: right;
		
		height: 196px;
		width: 196px;
		padding: 8px;
		background: white;

		-webkit-transition: 0.1s all;
		-moz-transition: 0.1s all;
		-o-transition: 0.1s all;
		-ms-transition: 0.1s all;
		transition: 0.1s all;
		/*transform: rotate(-3deg);*/
	}
	#dp_container:hover {
		box-shadow: 0 0 5px #000;
	}
	.curl_effect {
		box-shadow: 0 -5px 5px rgba(0,0,0,0.2), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0,0,0,0.1);
	}
	.curl_effect:before, .curl_effect:after {
		position: absolute;
		width: 40%;
		height: 10px;
		content: " ";
		left: 12px;
		bottom: 8px;
		background: transparent;
		transform: skew(-10deg) rotate(-10deg);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
		z-index: -1;
	}
	.curl_effect:after {
		left: auto;
		right: 12px;
		transform: skew(10deg) rotate(10deg);
	}
	h1 {
		text-shadow: 0 0 1px black;
		color: #01579B;
		font-size: 40pt;
        color: white
	}
	#page_container {
		margin: 0 auto;
		/* margin-left: 230px; */
		text-align: left;
        width: 100%;
        max-width: 39rem;
		padding-top: 100px;
	}
	.text {
        font-size: 14px;
        line-height: 1.725;
		/* min-height: 300px; */
		/*height: calc(100vh - 70px);*/
		padding-bottom: 30px;
		/*box-shadow: 0 5px 10px -8px #000;*/
		/* padding-top: 100px; */
		padding-left: 30px;
		padding-right: 30px;
        color: #bbb;
        text-align: justify;
	}
	.text a {
		text-decoration: none;
		color: orange;
	}
	.text a:hover {
		text-decoration: underline;
	}
	blockquote {
		border-left: 2px solid #01579B;
		padding: 1px 10px 25px 20px;
		color: #4caf50;
	}

	#projects .proj_desc {
		margin-left: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #01579B;
	}
	a.proj_link {
		text-decoration: none;
		color: darkgreen;
		font-weight: bold;
		font-size: 1.2em;
	}
	a.proj_link:hover {
		text-decoration: underline;
	}

	ul {
		list-style: square;
	}

/*	@media(max-height: 550px) {
		#dp {
			background: url(../assets/pic.jpg) 55% 0 / 178px 100px;
			height: 90px;
			width: 90px;
		}
		#dp_container {
			margin-top: -40px;
			
			height: 100px;
			width: 100px;
			padding: 5px;
		}
	}

	@media(max-height: 420px) {
		#dp {
			background: url(../assets/pic.jpg) 55% 0 / 118px 67px;
			height: 60px;
			width: 60px;
		}
		#dp_container {
			margin-top: -55px;
			margin-left: 0;
			height: 62px;
			width: 62px;
			padding: 1px;
		}
	}
*/
	@media(max-width: 900px) {
		#main {
			margin: 0 3%;
		}
		#navbar {
			margin-left: -30px;
		}
		#navbar li a {
			width: 170px;
		}
		#navbar li a.selected {
			width: 190px;
		}
		#navbar li a:not(.selected):hover, #navbar li a:not(.selected):active {
			width: 180px;
		}
		#page_container {
			margin-left: 150px;
			box-shadow: -2px 0 5px -5px #000;
		}
	}

	@media(max-height: 360px), (max-width: 800px) {
		/*header { display: none; }
		#dp_container { display: none; }*/
        #dp_container {
            display: block;
            float: none;
            margin: 0 auto;
        }
        #navbar a {
            padding: 3px;
            border-radius: 0;
            box-shadow: none;
            margin: 0;
        }
        header #snowman {
            -webkit-filter: none;
            filter: none;
            background-image: url(../assets/snowman2.png);
            background-position: fixed center; /*no-repeat fixed;*/
            background-size: 40px 40px;
        }
/*		#navbar {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 70px;
			margin: 0;
			padding: 0;
			background: #01579B;
			box-shadow: 0 2px 5px #000;
			z-index: 5;
			text-align: right;
			color: white;
			font-size: 14pt;
			font-weight: bold;
			line-height: 70px;
		}
		#navbar ul {
			margin: 0;
			width: 100%;
			height: 70px;
		}
		#navbar li {
			float: left;
			width: 20%;
		}
		#navbar li a, #navbar li a.selected {
			float: left;
			width: 100%;
			height: 70px;
			background: transparent;
			box-shadow: none;
			border-radius: 0;
			color: white;
			line-height: 70px;
			padding: 0;
			text-align: center;
			font-weight: bold;
		}
		#navbar li a.selected, #navbar li a:hover, #navbar li a:active {
			border-radius: 0;
			width: 100%;
			background: #03a9f4;
			color: white;
			box-shadow: none;
			padding: 0;
			font-weight: bold;
		}
		#navbar a:not(.selected):hover, #navbar a:not(.selected):active {
			background: #03a9f4;
			border-right: none;
			border-radius: 0;
			padding: 0;
			width: 100%;
			font-weight: bold;
		}

		.curl_effect { box-shadow: none; }
		.curl_effect:after, .curl_effect:before { display: none; }*/
		#main {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			margin: 0;
		}
		#page_container {
			margin-left: 0;
		}
	}
